<!-- welcome_email.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterboxd Monthly Recap</title>
    <!-- Fonts made from <a href="http://www.onlinewebfonts.com">Web Fonts</a> is licensed by CC BY 4.0 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'logo/lbmr_logo.png' %}" >

</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'logo/lbmr_logo.png' %}" alt="Logo" class="logo-img" width="50">
            <h1>Letterboxd Monthly Recap</h1>
        </div>

        <p>Thank you for joining Letterboxd Monthly Recap! E-mails with your past months' Letterboxd Recaps will now be sent at the start of every month. Attached to this e-mail is your last month's Recap.</p>

    </div>

    <footer>

            <p>If you do not wish to receive your Recaps anymore, <a href="{% url 'delete' email=user.email %}" target="_blank">click here</a>.</p>

    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>