{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterboxd Monthly Recap</title>
    <!-- Fonts made from <a href="http://www.onlinewebfonts.com">Web Fonts</a> is licensed by CC BY 4.0 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'logo/lbmr_logo.png' %}" >

</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'logo/lbmr_logo.png' %}" alt="Logo" class="logo-img" width="50">
            <h1>Letterboxd Monthly Recap</h1>
        </div>

        <p>You'll no longer receive e-mails from Letterboxd Monthly Recap.</p>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>